{% load static from staticfiles %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Conception Connection</title>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta name='description' content='Find out what was happening when you were conceived!'>
        <link rel="stylesheet" href="{% static "style.css" %}" />
        <meta name='author' content='Tom Shen'>
    </head>
    <body>
        <header>
            <h1>Conception Connection</h1>
        </header>
        <section>
            <div>
                Birthdate: <input type='date' name='birthdate' id='birthdate'><br>
                Time range (in days): <input type='text' name='delta' id='delta' value='5'><br>
                <button id='submit-button' onclick='getEvents()'>Submit</button>
            </div>
            <div id='events'>
            </div>
        </section>
        <section>
            <img src='http://www.smbc-comics.com/comics/20130321.gif'>
        </section>
        <script type="text/javascript" src="{% static "events.js" %}"></script>
    </body>
</html>